header {

    height: 600px;
    background: url('../assets/img/sushi.webp');
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    background-position: center;
}

header::after {
    position: absolute;
    content: "";
    background: linear-gradient(#7A39DB, #A0D334);
    opacity: 0.3;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

nav {
    z-index: 20;

}


.banner {
    position: absolute;
    z-index: 25;
    top: 400px;
    left: 700px;
}


#services {

    background-color: whitesmoke;
}

/* #7A39DB
#A0D334 */
#myrow2 {
    width: 101%;
    height: 200px;
    background-color: whitesmoke;
    position: relative;
    z-index: 5;
    transform: skewY(-3deg);
    margin-top: -40px;
}

#myrow3 {
    height: 700px;
    position: relative;
    z-index: 15;
    background-color: whitesmoke;
    margin-top: -100px;
}

#myrow4 {
    width: 101%;
    position: relative;
    height: 650px;
    background-image: url("../assets/img/chicken.webp");
    background-repeat: no-repeat;
    transform: skewY(-3deg);
    background-position: top;
    background-size: cover;
    z-index: 20;
    margin-top: -50px;
}

#myrow4::after {
    position: absolute;
    content: "";
    background-color: #7A39DB;
    opacity: 0.3;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

#skill {
    height: 400px;

}

#myrow5 {
    height: 100px;
    background-color: blanchedalmond;
    position: relative;
    z-index: 5;
    transform: skewY(-3deg);
    margin-top: -40px;
}

#myrow6 {
    height: 100px;
    background-color: blanchedalmond;
    position: relative;
    z-index: 5;
    transform: skewY(-3deg);
    margin-top: -40px;
}

#menu {
    background-color: blanchedalmond;
    /* transform: skewY(-3deg);
    margin-top: -50px; */
    position: relative;
    z-index: 10;
    margin-top: -40px;
}


.circle1 .circle-wrap {

    width: 150px;
    height: 150px;
    background: #fefcff;
    border-radius: 50%;
    border: 1px solid #cdcbd0;
}

.circle1 .circle-wrap .circle .mask,
.circle1 .circle-wrap .circle .fill {
    width: 150px;
    height: 150px;
    position: absolute;
    border-radius: 50%;
}

.circle1 .mask .fill {
    clip: rect(0px, 75px, 150px, 0px);
    background-color: #eb4334;
}

.circle1 .circle-wrap .circle .mask {
    clip: rect(0px, 150px, 150px, 75px);
}

.circle1 .mask.full,
.circle1 .circle .fill {
    animation: fill ease-in-out 3s;
    transform: rotate(135deg);
}

@keyframes fill {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(135deg);
    }
}

.circle1 .circle-wrap .inside-circle {
    width: 122px;
    height: 122px;
    border-radius: 50%;
    background: #d2eaf1;
    line-height: 120px;
    text-align: center;
    margin-top: 14px;
    margin-left: 14px;
    color: #eb4334;
    position: absolute;
    z-index: 100;
    font-weight: 700;
    font-size: 2em;
}

.circle2 .circle-wrap {

    width: 150px;
    height: 150px;
    background: #fefcff;
    border-radius: 50%;
    border: 1px solid #cdcbd0;
}

.circle2 .circle-wrap .circle .mask,
.circle2 .circle-wrap .circle .fill {
    width: 150px;
    height: 150px;
    position: absolute;
    border-radius: 50%;
}

.circle2 .mask .fill {
    clip: rect(0px, 75px, 150px, 0px);
    background-color: #b434eb;
}

.circle2 .circle-wrap .circle .mask {
    clip: rect(0px, 150px, 150px, 75px);
}

.circle2 .mask.full,
.circle2 .circle .fill {
    animation: fill ease-in-out 3s;
    transform: rotate(130deg);
}

@keyframes fill {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(130deg);
    }
}

.circle2 .circle-wrap .inside-circle {
    width: 122px;
    height: 122px;
    border-radius: 50%;
    background: #d2eaf1;
    line-height: 120px;
    text-align: center;
    margin-top: 14px;
    margin-left: 14px;
    color: #b434eb;
    position: absolute;
    z-index: 100;
    font-weight: 700;
    font-size: 2em;
}

.circle3 .circle-wrap {

    width: 150px;
    height: 150px;
    background: #fefcff;
    border-radius: 50%;
    border: 1px solid #cdcbd0;
}

.circle3 .circle-wrap .circle .mask,
.circle3 .circle-wrap .circle .fill {
    width: 150px;
    height: 150px;
    position: absolute;
    border-radius: 50%;
}

.circle3 .mask .fill {
    clip: rect(0px, 75px, 150px, 0px);
    background-color: #3474eb;
}

.circle3 .circle-wrap .circle .mask {
    clip: rect(0px, 150px, 150px, 75px);
}

.circle3 .mask.full,
.circle3 .circle .fill {
    animation: fill ease-in-out 3s;
    transform: rotate(150deg);
}

@keyframes fill {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(150deg);
    }
}

.circle3 .circle-wrap .inside-circle {
    width: 122px;
    height: 122px;
    border-radius: 50%;
    background: #d2eaf1;
    line-height: 120px;
    text-align: center;
    margin-top: 14px;
    margin-left: 14px;
    color: #3474eb;
    position: absolute;
    z-index: 100;
    font-weight: 700;
    font-size: 2em;
}

.circle4 .circle-wrap {

    width: 150px;
    height: 150px;
    background: #fefcff;
    border-radius: 50%;
    border: 1px solid #cdcbd0;
}

.circle4 .circle-wrap .circle .mask,
.circle4 .circle-wrap .circle .fill {
    width: 150px;
    height: 150px;
    position: absolute;
    border-radius: 50%;
}

.circle4 .mask .fill {
    clip: rect(0px, 75px, 150px, 0px);
    background-color: #34ebcc;
}

.circle4 .circle-wrap .circle .mask {
    clip: rect(0px, 150px, 150px, 75px);
}

.circle4 .mask.full,
.circle4 .circle .fill {
    animation: fill ease-in-out 3s;
    transform: rotate(120deg);
}

@keyframes fill {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(120deg);
    }
}

.circle4 .circle-wrap .inside-circle {
    width: 122px;
    height: 122px;
    border-radius: 50%;
    background: #d2eaf1;
    line-height: 120px;
    text-align: center;
    margin-top: 14px;
    margin-left: 14px;
    color: #34ebcc;
    position: absolute;
    z-index: 100;
    font-weight: 700;
    font-size: 2em;
}

.circle5 .circle-wrap {

    width: 150px;
    height: 150px;
    background: #fefcff;
    border-radius: 50%;
    border: 1px solid #cdcbd0;
}

.circle5 .circle-wrap .circle .mask,
.circle5 .circle-wrap .circle .fill {
    width: 150px;
    height: 150px;
    position: absolute;
    border-radius: 50%;
}

.circle5 .mask .fill {
    clip: rect(0px, 75px, 150px, 0px);
    background-color: orangered;
}

.circle5 .circle-wrap .circle .mask {
    clip: rect(0px, 150px, 150px, 75px);
}

.circle5 .mask.full,
.circle5 .circle .fill {
    animation: fill ease-in-out 3s;
    transform: rotate(140deg);
}

@keyframes fill {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(140deg);
    }
}

.circle5 .circle-wrap .inside-circle {
    width: 122px;
    height: 122px;
    border-radius: 50%;
    background: #d2eaf1;
    line-height: 120px;
    text-align: center;
    margin-top: 14px;
    margin-left: 14px;
    color: orangered;
    position: absolute;
    z-index: 100;
    font-weight: 700;
    font-size: 2em;
}

footer {
    background-color: #bc42f5;
}

footer::after {
    position: absolute;
    content: "";
    background: linear-gradient(#7A39DB, #A0D334);
    opacity: 0.3;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}